
.container {
    display: flex;
}

.videoWrapper {
    width: 50%;
    position: relative;

}

.faceRect {
    position: absolute;
    border: 3px solid red;
    background-color: rgba(255, 0, 0, 0.2);
}

#videoElement {
    width: 640;
    height: 480;
    position: absolute;
    top: 0;
    left: 0;
}

#log{
    background-color: black;
    color: white;
    position: relative;
}
